
@media (max-width: 1200px) and (min-width: 1081px) {
    #re-fix {
        height: 700px;
    }
    .scale-scale {
        // transform: scale(0.7) translateY(-350px) translateX(-200px); 
        transform: translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(1) translateX(12.5%); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-15%);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            // font-size: 35px;
        }

        h2 {
            font-weight: 600; 
            font-size: 40px; 
            line-height: 1;
        }

        p {
            font-size: 30px;
            line-height: 1;
        }

        ul > li {
            font-size: 24px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-300px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-350px);
        height: 200px;
    }
}



@media (max-width: 1080px) and (min-width: 1026px) {
    #re-fix {
        height: 700px;
    }
    .scale-scale {
        // transform: scale(0.7) translateY(-350px) translateX(-200px); 
        transform: translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(1) translateX(5%); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-20%);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            // font-size: 35px;
        }

        h2 {
            font-weight: 600; 
            font-size: 40px; 
            line-height: 1;
        }

        p {
            font-size: 30px;
            line-height: 1;
        }

        ul > li {
            font-size: 24px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-300px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-350px);
        height: 200px;
    }
}




@media (max-width: 1025px) and (min-width: 961px) {
    #re-fix {
        height: 700px;
    }
    .scale-scale {
        // transform: scale(0.7) translateY(-350px) translateX(-200px); 
        transform: translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(0.8) translateX(-3.5%); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-35%);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            // font-size: 35px;
        }

        h2 {
            font-weight: 600; 
            font-size: 40px; 
            line-height: 1;
        }

        p {
            font-size: 30px;
            line-height: 1;
        }

        ul > li {
            font-size: 24px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-300px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-350px);
        height: 200px;
    }
}





@media (max-width: 960px) and (min-width: 926px) {
    #re-fix {
        height: 630px;
    }
    .scale-scale {
        // transform: translateY(-350px) translateX(-200px); 
        transform: scale(0.9) translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(0.85) translateX(-15%) translateY(-85px); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-35%) translateY(-85px);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            font-size: 20px;
        }

        h2 {
            font-weight: 600; 
            font-size: 50px; 
            line-height: 1;
        }

        p {
            font-size: 33px;
            line-height: 1;
        }

        ul > li {
            font-size: 27px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-370px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-400px);
        height: 110px;
    }
}



@media (max-width: 925px) and (min-width: 866px) {
    #re-fix {
        height: 630px;
    }
    .scale-scale {
        // transform: translateY(-350px) translateX(-200px); 
        transform: scale(0.9) translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(0.85) translateX(-15%) translateY(-85px); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-50%) translateY(-85px);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            font-size: 20px;
        }

        h2 {
            font-weight: 600; 
            font-size: 50px; 
            line-height: 1;
        }

        p {
            font-size: 33px;
            line-height: 1;
        }

        ul > li {
            font-size: 27px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-370px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-400px);
        height: 110px;
    }
}





@media (max-width: 865px) and (min-width: 820px) {
    #re-fix {
        height: 630px;
    }
    .scale-scale {
        // transform: translateY(-350px) translateX(-200px); 
        transform: scale(0.9) translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(0.85) translateX(-15%) translateY(-85px); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-60%) translateY(-85px);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            font-size: 20px;
        }

        h2 {
            font-weight: 600; 
            font-size: 50px; 
            line-height: 1;
        }

        p {
            font-size: 33px;
            line-height: 1;
        }

        ul > li {
            font-size: 27px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-370px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-400px);
        height: 110px;
    }
}




@media (max-width: 819px) and (min-width: 785px) {
    #re-fix {
        height: 630px;
    }
    .scale-scale {
        // transform: translateY(-350px) translateX(-200px); 
        transform: scale(0.9) translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(0.85) translateX(-15%) translateY(-85px); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-70%) translateY(-85px);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            font-size: 20px;
        }

        h2 {
            font-weight: 600; 
            font-size: 50px; 
            line-height: 1;
        }

        p {
            font-size: 33px;
            line-height: 1;
        }

        ul > li {
            font-size: 27px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-370px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-400px);
        height: 110px;
    }
}





@media (max-width: 784px) and (min-width: 768px) {
    #re-fix {
        height: 630px;
    }
    .scale-scale {
        // transform: translateY(-350px) translateX(-200px); 
        transform: scale(0.9) translateY(-200px);
        margin: 0;
        margin: 0 auto;
        // height: 700px;
    }

    .swttt {
        padding: 0;
        transform: scale(0.85) translateX(-15%) translateY(-85px); 
        // height: 700px;
    }

    .xwttt {
        transform: scale(0.7) translateX(-80%) translateY(-85px);
    }

    #zwttt {
        h6 {
            padding-bottom: 5px;
            border-bottom: 2px solid #0f0338;
            font-weight: 600; 
            letter-spacing: normal; 
            width: fit-content;
            font-size: 20px;
        }

        h2 {
            font-weight: 600; 
            font-size: 47.5px; 
            line-height: 1;
        }

        p {
            font-size: 33px;
            line-height: 1;
        }

        ul > li {
            font-size: 27px;
            line-height: 1;
        }
    }

    .reffer {
        padding: 0 0 0 5%;
        transform: translateY(-370px);
        // height: 100px;
    }

    .grid-box-box {
        transform: translateY(-400px);
        height: 110px;
    }
}


