#gallery {
    margin: 30px 7.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 10px;
    
    .gallery-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        gap: 10px;
        width: 100%;
        height: 100%;
        grid-column: 3/5;

        & > div {
            overflow: hidden;
        }

        & > div > img {
            height: 100%;
            width: 100%;
            transition: 1s ease-in-out;
        }
        
        & > div:hover > img {
            transform: scale(1.15);
        }
    }
    
    & > div {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .gallery-pic:hover {
        img {
            transform: scale(1.15);
        }
    }

    .gallery-pic > img {
        width: 100%;
        height: 100%;
        transition: 1s ease-in-out;
    }

    .gallery-pic1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .gallery-pic4 {
        grid-row: 3/5;
    }

    .gallery-pic8 {
        grid-column: 3/4;
        grid-row: 4/6;
    }

    .gallery-pic12 {
        grid-column: 2/3;
        grid-row: 6/8;
    }

    .gallery-pic17 {
        grid-column: 4/5;
        grid-row: 7/8;
    }

    .gallery-pic19 {
        grid-column: 3/4;
        grid-row: 7/8;
    }

    .gallery-pic22 {
        grid-column: 1/3;
        grid-row: 8/10;
    }
}    

    
// media queries

@media (min-width: 1700px) {
    #gallery {
        width: 1500px;
        margin: 65px auto;
    }
}

@media (max-width: 1040px) and (min-width: 768px) {
    #gallery {
        margin: 30px 6.5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        gap: 10px;

        & > div {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .gallery-pic:hover {
            img {
                transform: scale(1.15);
            }
        }

        .gallery-pic > img {
            width: 100%;
            height: 100%;
            transition: 1s ease-in-out;
        }
        .gallery-pic1 {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        .gallery-pic4 {
            grid-row: 3/5;
        }

        .gallery-pic8 {
            grid-column: 3/4;
            grid-row: 4/6;
        }

        .gallery-pic12 {
            grid-column: 2/3;
            grid-row: 6/8;
        }

        .gallery-pic17 {
            grid-column: 2/4;
            grid-row: 8/10;
        }

        .gallery-pic19 {
            grid-column: 1/3;
            grid-row: 10/12;
        }

        .gallery-pic22 {
            grid-column: 1/2;
            grid-row: 12/14;
        }

        .gallery-box {
            grid-column: 3/4;
            // grid-row: 13/;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            gap: 5px;
            width: 100%;
            height: 100%;

            & > div {
                overflow: hidden;
            }

            & > div > img {
                height: 100%;
                width: 100%;
                transition: 1s ease-in-out;
            }
            
            & > div:hover > img {
                transform: scale(1.15);
            }
        }
    }
}

@media (max-width: 767px) {
    #gallery {
        margin: 30px 7.5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        gap: 10px;

        & > div {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .gallery-pic:hover {
            img {
                transform: scale(1.15);
            }
        }

        .gallery-pic > img {
            width: 100%;
            height: 100%;
            transition: 1s ease-in-out;
        }
        .gallery-pic1 {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        .gallery-pic4 {
            grid-row: 3/5;
        }

        .gallery-pic8 {
            grid-column: 2/3;
            grid-row: 4/6;
        }

        .gallery-pic12 {
            grid-column: 1/2;
            grid-row: 6/8;
        }

        .gallery-pic15 {
            grid-column: 1/3;
        }

        .gallery-pic17 {
            grid-column: 2/3;
            grid-row: 8/9;
        }

        .gallery-pic19 {
            grid-column: 1/3;
            grid-row: 10/12;
        }

        .gallery-pic22 {
            grid-column: 1/2;
            grid-row: 12/13;
        }

        .gallery-box {
            grid-column: 1/3;
            grid-row: 17/18;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            gap: 5px;
            width: 100%;
            height: 100%;

            & > div {
                overflow: hidden;
            }

            & > div > img {
                height: 100%;
                width: 100%;
                transition: 1s ease-in-out;
            }
            
            & > div:hover > img {
                transform: scale(1.15);
            }
        }

        .gallery-pic27 {
            grid-column: 1/3;
        }
    }
}


@media (max-width: 401px) {
    #gallery {
        margin: 15px 5.5% 30px 5.5%;
    }
}    


.gallery-pic, .gallery-box > div {
    border-radius: 5px;
}