@media (min-width: 1300px) {
    .show-box, #goal {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1240px) {
    .grid-box {
        grid-template-columns: .6fr 1fr;
    }

    
}

@media (max-width: 1100px) {
    .your-investments {
        // padding-top: 50px;
        padding-bottom: 50px;
    }
    .grid-box {
        grid-template-columns: 1fr;
        width: 80%;
        padding-top: 30px;

        .grid-box2 {
            text-align: center;
            h2 {
                font-size: 39px;
                line-height: 1;

                br {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1210px) {
    #width-one {
        width: 30%;
    }

    #width-two {
        width: 30%;
    }

    #width-three {
        width: 33%;
    }
}

@media (max-width: 1200px) {
    .grid-box-box {
        padding: 30px 8.5% 75px 8.5%;
        grid-template-columns: 0.075fr 1fr 1fr 0.075fr;
    }
    
    #width-one {
        width: 25%;
    }

    #width-two {
        width: 25%;
    }

    #width-three {
        width: 43%;
    }
}

@media (max-width: 1040px) {
    #width-one {
        width: 20%;
    }

    #width-two {
        width: 20%;
    }

    #width-three {
        width: 53%;
    }
}

@media (max-width: 990px) {
    .grid-box-box {
        padding: 30px 2.5% 75px 2.5%;
    }

    .show-box {
        grid-template-columns:1fr 1fr;
    }
}

@media (max-width: 865px){
    #width-one {
        width: 15%;
    }

    #width-two {
        width: 15%;
    }

    #width-three {
        width: 63%;
    }
}

@media (max-width: 767px) {
    // Goal Section
    .swtt {
        padding-top: 100px;
    }

    .swttt {
        padding-left: 0%;
    }

    // .transfrom {
    //     transform: translateY(-100px);
    // }
    // ***

    .grid-box-box {
        padding: 30px 2.5% 75px 0%;
        grid-template-columns: 0fr 1fr 1fr 0fr;
        
    }
}

@media (max-width: 720px) {
    .grid-boxxx {
        grid-template-columns: 1fr;
        padding: 75px 10% 50px 10%;

        .grid-boxxx2 {
            text-align: center;

            h2 {
                font-size: 35px;
                text-align: center;

                br {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .grid-box-box {
        grid-template-columns: 1fr;
        padding: 0 20% 0 12.5%;
        gap: 30px;
    }

    .reffer {
        padding: 50px 0 0 0.5%;
    }
}

@media (max-width: 600px) {
    .show-box {
        grid-template-columns: 1fr;
        padding: 30px 20% 0 20%;
    }
}

@media (max-width: 479px) {
    .your-investments {
        padding-bottom: 30px;
        padding-top: 60px;
    }

    .grid-box {
        padding: 10px 0% 50px 0%;
        width: 95%;

        .grid-box2 {
            padding-left: 0%;

            h2 {
                font-size: 30px;
            }
        }
    }

    .grid-box-box {
        padding: 0 9.5% 0 3.5%;

        .grid-box-box1, .grid-box-box2 {
            padding: 20px 10px;
            
            ul {
                padding-left: 30px;
                padding-right: 5px;
            }
        }
    }
    
    .show-box {
        padding: 30px 10% 0 10%;
    }

    .grid-boxxx {
        padding: 55px 5% 50px 5%;
    }
}

@media (max-width: 380px) {
    #midddle {
        text-align: center;

        h6 {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    
    .reffer {
        padding: 50px 0 0 0;
    }
    
    .show-box {
        width: auto;
    }
}




@import 'complex-media';