button, a {
  cursor: pointer;
}

.column_column ul li, .column_helper ul li, .column_visual ul li, .mfn-acc ul li, .ui-tabs-panel ul li, .the_content_wrapper ul li, .post-excerpt ul li {
  list-style: url("../../images/Checkmark.png");
}

.swttt {
  padding-left: 100px;
}

#zwttt h6 {
  border-bottom: 2px solid #0f0338;
  font-weight: 600;
  letter-spacing: normal;
  width: max-content;
}
#zwttt h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
}
#zwttt p {
  font-size: 23.5px;
  line-height: 1;
}
#zwttt ul > li {
  font-size: 20px;
}

.section_wrapper, .container {
  width: 1250px;
  max-width: 1400px;
}

.reffer {
  padding: 50px 0 0 10%;
}

.your-investments {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e4e4e4;
  background: url("../../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-gap: 30px;
  padding: 75px 10% 50px 10%;
}
.grid-box .grid-box1 {
  overflow: hidden;
  border-radius: 10px;
}
.grid-box .grid-box1 img {
  width: 100%;
  border-radius: 10px;
  transition: 1s ease-in-out;
}
.grid-box .grid-box1 img:hover {
  transform: scale(1.1);
}
.grid-box .grid-box2 {
  align-self: center;
  padding-left: 5%;
}
.grid-box .grid-box2 h2 {
  font-weight: 600;
  font-size: 45px;
}
.grid-box .grid-box2 p {
  font-weight: 400;
  font-size: 20px;
}
.grid-box .grid-box2 button {
  background-color: #03056b;
  transition: 0.5s ease-in-out;
  outline: 0;
  animation: zoomzoom 2s infinite ease-in-out;
}

@keyframes zoomzoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.grid-box-box {
  display: grid;
  grid-template-columns: 0.175fr 1fr 1fr 0.175fr;
  padding: 30px 15% 75px 15%;
  grid-gap: 20px;
  gap: 10%;
}
.grid-box-box .grid-box-box1, .grid-box-box .grid-box-box2 {
  width: 100%;
  background-color: #ffffff;
  background-color: #f2f1f1;
  color: #03056b;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.434);
  transition: 0.5s ease-in-out;
}
.grid-box-box .grid-box-box1:hover, .grid-box-box .grid-box-box2:hover {
  transform: translateY(-20px);
}
.grid-box-box .grid-box-box1 h2, .grid-box-box .grid-box-box2 h2 {
  font-size: 30px;
  color: #03056b;
  font-weight: 600;
}
.grid-box-box .grid-box-box1 img, .grid-box-box .grid-box-box2 img {
  width: 50%;
  margin: 0 auto;
}
.grid-box-box .grid-box-box1 ul, .grid-box-box .grid-box-box2 ul {
  padding-left: 50px;
  text-align: left;
  list-style: url("../../images/Checkmark.png");
}
.grid-box-box .grid-box-box1 ul li, .grid-box-box .grid-box-box2 ul li {
  padding: 3.5px 0;
  font-size: 17px;
}
.grid-box-box .grid-box-box1 a button, .grid-box-box .grid-box-box2 a button {
  margin: 20px 0;
  background-color: #03056b;
  transition: 0.5s ease-in-out;
  outline: 0;
}
.grid-box-box .grid-box-box1 a button:hover, .grid-box-box .grid-box-box2 a button:hover {
  transform: scale(1.1);
}
.grid-box-box .grid-box-box1 a button:active, .grid-box-box .grid-box-box2 a button:active {
  transform: scale(0.85);
}

.grid-boxxx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-gap: 30px;
  padding: 75px 10% 50px 10%;
}
.grid-boxxx .grid-boxxx1 {
  overflow: hidden;
  border-radius: 10px;
}
.grid-boxxx .grid-boxxx1 img {
  width: 100%;
  border-radius: 10px;
  transition: 1s ease-in-out;
}
.grid-boxxx .grid-boxxx2 {
  align-self: center;
  padding-left: 5%;
}
.grid-boxxx .grid-boxxx2 h2 {
  line-height: 1;
  font-weight: 600;
  font-size: 45px;
}
.grid-boxxx .grid-boxxx2 p {
  font-weight: 400;
  font-size: 20px;
}
.grid-boxxx .grid-boxxx2 button {
  background-color: #03056b;
  transition: 0.5s ease-in-out;
  outline: 0;
}
.grid-boxxx .grid-boxxx2 button:hover {
  transform: scale(1.1);
}

.show-box {
  padding: 30px 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
.show-box .show-box1 .image-block {
  height: 210px;
  overflow: hidden;
  border-radius: 10px;
}
.show-box .show-box1 .image-block img {
  width: 100%;
}
.show-box .show-box1 h4 {
  text-align: center;
  margin-top: 5px;
}

@media (min-width: 1240px) {
  #header-positioning {
    display: flex;
    justify-content: space-between;
  }
  #header-positioning .menu_wrapper {
    align-self: center;
  }
}
@media (max-width: 1239px) and (min-width: 768px) {
  #header-positioning {
    display: flex;
    justify-content: center;
  }
  #header-positioning .menu_wrapper {
    align-self: center;
  }
}
@media (min-width: 1300px) {
  .show-box {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1240px) {
  .grid-box {
    grid-template-columns: 0.6fr 1fr;
  }
}
@media (max-width: 1100px) {
  .your-investments {
    padding-bottom: 50px;
  }

  .grid-box {
    grid-template-columns: 1fr;
    width: 80%;
    padding-top: 30px;
  }
  .grid-box .grid-box2 {
    text-align: center;
  }
  .grid-box .grid-box2 h2 {
    font-size: 39px;
    line-height: 1;
  }
  .grid-box .grid-box2 h2 br {
    display: none;
  }
}
@media (max-width: 1210px) {
  #width-one {
    width: 30%;
  }

  #width-two {
    width: 30%;
  }

  #width-three {
    width: 33%;
  }
}
@media (max-width: 1200px) {
  .grid-box-box {
    padding: 30px 8.5% 75px 8.5%;
    grid-template-columns: 0.075fr 1fr 1fr 0.075fr;
  }

  #width-one {
    width: 25%;
  }

  #width-two {
    width: 25%;
  }

  #width-three {
    width: 43%;
  }
}
@media (max-width: 1040px) {
  #width-one {
    width: 20%;
  }

  #width-two {
    width: 20%;
  }

  #width-three {
    width: 53%;
  }
}
@media (max-width: 990px) {
  .grid-box-box {
    padding: 30px 2.5% 75px 2.5%;
  }

  .show-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 865px) {
  #width-one {
    width: 15%;
  }

  #width-two {
    width: 15%;
  }

  #width-three {
    width: 63%;
  }
}
@media (max-width: 767px) {
  .swtt {
    padding-top: 100px;
  }

  .swttt {
    padding-left: 0%;
  }

  .grid-box-box {
    padding: 30px 2.5% 75px 0%;
    grid-template-columns: 0fr 1fr 1fr 0fr;
  }
}
@media (max-width: 720px) {
  .grid-boxxx {
    grid-template-columns: 1fr;
    padding: 75px 10% 50px 10%;
  }
  .grid-boxxx .grid-boxxx2 {
    text-align: center;
  }
  .grid-boxxx .grid-boxxx2 h2 {
    font-size: 35px;
    text-align: center;
  }
  .grid-boxxx .grid-boxxx2 h2 br {
    display: none;
  }
}
@media (max-width: 640px) {
  .grid-box-box {
    grid-template-columns: 1fr;
    padding: 0 20% 0 12.5%;
    gap: 30px;
  }

  .reffer {
    padding: 50px 0 0 0.5%;
  }
}
@media (max-width: 600px) {
  .show-box {
    grid-template-columns: 1fr;
    padding: 30px 20% 0 20%;
  }
}
@media (max-width: 479px) {
  .your-investments {
    padding-bottom: 30px;
    padding-top: 60px;
  }

  .grid-box {
    padding: 10px 0% 50px 0%;
    width: 95%;
  }
  .grid-box .grid-box2 {
    padding-left: 0%;
  }
  .grid-box .grid-box2 h2 {
    font-size: 30px;
  }

  .grid-box-box {
    padding: 0 9.5% 0 3.5%;
  }
  .grid-box-box .grid-box-box1, .grid-box-box .grid-box-box2 {
    padding: 20px 10px;
  }
  .grid-box-box .grid-box-box1 ul, .grid-box-box .grid-box-box2 ul {
    padding-left: 30px;
    padding-right: 5px;
  }

  .show-box {
    padding: 30px 10% 0 10%;
  }

  .grid-boxxx {
    padding: 55px 5% 50px 5%;
  }
}
@media (max-width: 380px) {
  #midddle {
    text-align: center;
  }
  #midddle h6 {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .reffer {
    padding: 50px 0 0 0;
  }

  .show-box {
    width: auto;
  }
}
@media (max-width: 1200px) and (min-width: 1081px) {
  #re-fix {
    height: 700px;
  }

  .scale-scale {
    transform: translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(1) translateX(12.5%);
  }

  .xwttt {
    transform: scale(0.7) translateX(-15%);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 30px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 24px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-300px);
  }

  .grid-box-box {
    transform: translateY(-350px);
    height: 200px;
  }
}
@media (max-width: 1080px) and (min-width: 1026px) {
  #re-fix {
    height: 700px;
  }

  .scale-scale {
    transform: translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(1) translateX(5%);
  }

  .xwttt {
    transform: scale(0.7) translateX(-20%);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 30px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 24px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-300px);
  }

  .grid-box-box {
    transform: translateY(-350px);
    height: 200px;
  }
}
@media (max-width: 1025px) and (min-width: 961px) {
  #re-fix {
    height: 700px;
  }

  .scale-scale {
    transform: translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(0.8) translateX(-3.5%);
  }

  .xwttt {
    transform: scale(0.7) translateX(-35%);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 30px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 24px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-300px);
  }

  .grid-box-box {
    transform: translateY(-350px);
    height: 200px;
  }
}
@media (max-width: 960px) and (min-width: 926px) {
  #re-fix {
    height: 630px;
  }

  .scale-scale {
    transform: scale(0.9) translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(0.85) translateX(-15%) translateY(-85px);
  }

  .xwttt {
    transform: scale(0.7) translateX(-35%) translateY(-85px);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
    font-size: 20px;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 33px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 27px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-370px);
  }

  .grid-box-box {
    transform: translateY(-400px);
    height: 110px;
  }
}
@media (max-width: 925px) and (min-width: 866px) {
  #re-fix {
    height: 630px;
  }

  .scale-scale {
    transform: scale(0.9) translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(0.85) translateX(-15%) translateY(-85px);
  }

  .xwttt {
    transform: scale(0.7) translateX(-50%) translateY(-85px);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
    font-size: 20px;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 33px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 27px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-370px);
  }

  .grid-box-box {
    transform: translateY(-400px);
    height: 110px;
  }
}
@media (max-width: 865px) and (min-width: 820px) {
  #re-fix {
    height: 630px;
  }

  .scale-scale {
    transform: scale(0.9) translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(0.85) translateX(-15%) translateY(-85px);
  }

  .xwttt {
    transform: scale(0.7) translateX(-60%) translateY(-85px);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
    font-size: 20px;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 33px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 27px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-370px);
  }

  .grid-box-box {
    transform: translateY(-400px);
    height: 110px;
  }
}
@media (max-width: 819px) and (min-width: 785px) {
  #re-fix {
    height: 630px;
  }

  .scale-scale {
    transform: scale(0.9) translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(0.85) translateX(-15%) translateY(-85px);
  }

  .xwttt {
    transform: scale(0.7) translateX(-70%) translateY(-85px);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
    font-size: 20px;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 33px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 27px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-370px);
  }

  .grid-box-box {
    transform: translateY(-400px);
    height: 110px;
  }
}
@media (max-width: 784px) and (min-width: 768px) {
  #re-fix {
    height: 630px;
  }

  .scale-scale {
    transform: scale(0.9) translateY(-200px);
    margin: 0;
    margin: 0 auto;
  }

  .swttt {
    padding: 0;
    transform: scale(0.85) translateX(-15%) translateY(-85px);
  }

  .xwttt {
    transform: scale(0.7) translateX(-80%) translateY(-85px);
  }

  #zwttt h6 {
    padding-bottom: 5px;
    border-bottom: 2px solid #0f0338;
    font-weight: 600;
    letter-spacing: normal;
    width: max-content;
    font-size: 20px;
  }
  #zwttt h2 {
    font-weight: 600;
    font-size: 47.5px;
    line-height: 1;
  }
  #zwttt p {
    font-size: 33px;
    line-height: 1;
  }
  #zwttt ul > li {
    font-size: 27px;
    line-height: 1;
  }

  .reffer {
    padding: 0 0 0 5%;
    transform: translateY(-370px);
  }

  .grid-box-box {
    transform: translateY(-400px);
    height: 110px;
  }
}
@media only screen and (max-width: 1239px) {
  /* Header --------------- */
  #Top_bar, #Action_bar {
    background: #fff !important;
    position: static;
  }

  #Top_bar .container {
    max-width: 100% !important;
  }

  #Top_bar .top_bar_left {
    float: none;
    width: 100% !important;
    background: none !important;
  }

  #Top_bar a.responsive-menu-toggle {
    right: 20px;
  }

  #Top_bar a.responsive-menu-toggle.is-sticky {
    position: fixed;
    top: 30px;
    left: 10px;
  }

  .admin-bar #Top_bar a.responsive-menu-toggle.is-sticky {
    top: 56px;
  }

  #Top_bar .menu_wrapper {
    float: left !important;
    width: 100%;
    margin: 0 !important;
  }

  #Top_bar #menu {
    float: left;
    position: static !important;
    width: 100% !important;
    padding-bottom: 20px;
  }

  #Top_bar .logo {
    position: static;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #Top_bar .logo #logo {
    padding: 0 !important;
    margin: 10px 50px;
  }

  #Top_bar .logo #logo img {
    height: auto !important;
  }

  #Top_bar #logo img.logo-main {
    display: none;
  }

  #Top_bar #logo img.logo-mobile {
    display: inline-block;
    position: relative;
    top: -62.5px;
  }

  #Top_bar #logo img.logo-mobile-sticky {
    display: none;
  }

  .mobile-sticky #Top_bar.is-sticky #logo img.logo-mobile {
    display: none;
  }

  .mobile-sticky #Top_bar.is-sticky #logo img.logo-mobile-sticky {
    display: inline-block;
  }

  .logo-overflow #Top_bar .logo {
    height: auto !important;
  }

  #Top_bar .search_wrapper {
    top: auto;
    bottom: -129px;
  }

  #Top_bar .top_bar_right {
    float: none;
    top: 0;
    height: 60px !important;
    padding: 0 10px;
  }

  #Top_bar .top_bar_right .top_bar_right_wrapper {
    float: right;
    margin-right: -10px;
  }

  #Top_bar .top_bar_right:before {
    display: none;
  }

  #Top_bar .top_bar_right_wrapper {
    top: 0 !important;
  }

  #Top_bar a#header_cart {
    top: 20px;
  }

  #Top_bar a#search_button {
    top: 19px;
  }

  #Top_bar a.button.action_button {
    top: 9px;
  }

  #Top_bar .wpml-languages {
    top: 11px;
  }

  #Top_bar .wpml-languages a.active {
    height: 15px;
    line-height: 17px;
  }

  .mobile-tb-left #Top_bar .top_bar_right .top_bar_right_wrapper {
    float: left;
  }

  .mobile-tb-center #Top_bar .top_bar_right {
    text-align: center;
  }

  .mobile-tb-center #Top_bar .top_bar_right .top_bar_right_wrapper {
    display: inline-block;
    float: none;
  }

  .mobile-tb-hide #Top_bar .top_bar_right {
    display: none;
  }

  /* Header | Below */
  body.header-below:not(.template-slider) #Header {
    padding-top: 0;
  }

  /* Header | Creative */
  .header-creative #Header_creative {
    position: absolute;
  }

  .header-creative.layout-boxed {
    padding-top: 0;
  }

  .header-creative.layout-boxed #Wrapper {
    margin-top: 25px;
  }

  .header-creative.layout-full-width #Wrapper {
    padding-top: 60px;
  }

  #Header_creative #Top_bar .responsive-menu-toggle {
    top: 35px;
  }

  #Header_creative #Top_bar .responsive-menu-toggle.is-sticky {
    position: fixed;
    top: 10px;
    left: 10px;
    margin-top: 0;
  }

  .admin-bar #Header_creative #Top_bar .responsive-menu-toggle.is-sticky {
    top: 56px;
  }

  #Header_creative #Top_bar .top_bar_left {
    margin-top: 0;
    overflow: hidden;
  }

  #Header_creative #Top_bar .logo #logo {
    padding: 0;
  }

  #Header_creative #Top_bar .logo #logo img {
    max-height: 50px;
  }

  #Header_creative #Top_bar #menu {
    position: static;
    width: 100%;
  }

  /* Header | Intro */
  #Intro {
    min-height: auto !important;
  }

  #Intro .intro-inner {
    padding: 100px 30px !important;
  }

  #Intro .intro-next {
    font-size: 25px;
    bottom: 10px;
  }

  /* Header | Magazine */
  .header-magazine #Top_bar .banner_wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    position: static;
    margin-bottom: 20px;
  }

  /* Header | Minimalist */
  body.minimalist-header.header-classic:not(.template-slider) #Header, body.minimalist-header.header-creative:not(.template-slider) #Header, body.minimalist-header.header-plain:not(.template-slider) #Header, body.minimalist-header.header-split:not(.template-slider) #Header {
    min-height: 0;
  }

  body.minimalist-header.header-simple:not(.template-slider) #Header {
    min-height: 90px;
  }

  body.minimalist-header.header-transparent #Header {
    min-height: 0 !important;
  }

  .minimalist-header-no #Subheader {
    padding: 80px 0 !important;
  }

  /* Header | Overlay */
  .header-overlay .overlay-menu-toggle {
    top: 10px;
    right: 5px;
  }

  #overlay-menu ul li a {
    font-size: 22px;
    line-height: 36px;
  }

  /* Header | Plain */
  .header-plain #Top_bar .logo {
    text-align: left;
  }

  .header-plain #Top_bar .logo #logo {
    padding: 5px 42px 15px 15px;
  }

  .header-plain #Top_bar .top_bar_right .top_bar_right_wrapper {
    line-height: 0;
  }

  .header-plain #Top_bar .top_bar_right {
    height: 50px !important;
  }

  .header-plain #Top_bar a#header_cart, .header-plain #Top_bar a#search_button {
    padding: 0 10px;
    line-height: 50px !important;
  }

  .header-plain #Top_bar .wpml-languages {
    padding: 0 10px;
    height: 50px !important;
  }

  .header-plain #Top_bar .wpml-languages a.active {
    line-height: 50px;
  }

  .header-plain #Top_bar a.button.action_button {
    height: 50px !important;
    line-height: 50px !important;
  }

  .header-plain #Top_bar a.button.action_button .button_label {
    padding: 0 12px;
  }

  .header-plain #Top_bar .top_bar_right_wrapper > *:last-child {
    border-right-width: 1px;
  }

  /* Header | Simple */
  .header-simple #Top_bar .top_bar_left {
    top: 0 !important;
  }

  /* Header | Split */
  .header-split #Top_bar a#search_button {
    display: none;
  }

  /* Header | Stack */
  .header-stack #Top_bar .logo {
    padding: 0;
    text-align: center !important;
  }

  .header-stack #Top_bar .logo #logo {
    display: block;
  }

  .header-stack #Top_bar a.responsive-menu-toggle {
    position: absolute !important;
    margin-top: -17px !important;
  }

  .header-stack #Top_bar a.responsive-menu-toggle.is-sticky {
    position: fixed !important;
    margin-top: 0 !important;
  }

  .header-stack #Top_bar .secondary_menu_wrapper {
    display: none;
  }

  .header-stack #Top_bar .top_bar_right {
    position: static;
  }

  /* Header mobile | minimal */
  .mobile-header-mini #Action_bar {
    display: none;
  }

  .mobile-header-mini #Top_bar {
    top: 0;
  }

  .mobile-header-mini #Top_bar .container {
    max-width: 100% !important;
  }

  .mobile-header-mini #Top_bar .top_bar_left {
    float: left;
    position: static;
  }

  .mobile-header-mini #Top_bar .logo {
    width: auto;
    float: left;
    margin-left: 15px;
    border: none;
  }

  .mobile-header-mini #Top_bar #logo {
    height: 60px !important;
    line-height: 60px !important;
    margin: 0;
  }

  .mobile-header-mini #Top_bar a.responsive-menu-toggle {
    top: 30px !important;
    left: auto;
    right: 10px;
    margin-top: -17px;
  }

  .mobile-header-mini #Top_bar .top_bar_right {
    position: absolute;
    top: 0;
    right: 54px;
    background: none;
    padding: 0;
  }

  .mobile-header-mini #Top_bar a.button.action_button {
    display: none;
  }

  .mobile-header-mini #Top_bar #header_cart {
    margin-right: -1px;
  }

  .mobile-header-mini #Top_bar #search_button {
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-header-mini #Top_bar .wpml-languages {
    top: 13px;
    margin-right: 0;
  }

  .mobile-header-mini #Top_bar .wpml-languages a.active, .mobile-header-mini #Top_bar .wpml-languages ul.wpml-lang-dropdown {
    border: none;
  }

  .mobile-header-mini #Top_bar #menu {
    padding-bottom: 10px;
  }

  .mobile-header-mini #Top_bar #menu ul li a span {
    line-height: 44px;
  }

  .mobile-header-mini #Top_bar #menu ul li.submenu .menu-toggle {
    line-height: 44px;
    right: 3px;
  }

  .mobile-header-mini #Top_bar .search_wrapper {
    bottom: -59px;
    padding: 10px;
    width: 100%;
  }

  .mobile-header-mini #Top_bar .search_wrapper .icon_search {
    left: 10px;
    top: 17px;
  }

  .mobile-header-mini #Top_bar .search_wrapper .icon_close {
    top: 17px;
  }

  /* Header mobile | minimal | style */
  .mobile-header-mini.mobile-mini-mr-lr #Top_bar .logo {
    float: right;
    margin-left: 0;
    margin-right: 54px;
  }

  .mobile-header-mini.mobile-mini-mr-lr #Top_bar .top_bar_right {
    left: 10px;
    right: auto;
  }

  .mobile-header-mini.mobile-mini-mr-lc #Top_bar .logo {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-header-mini.mobile-mini-mr-lc #Top_bar .top_bar_right {
    left: 10px;
    right: auto;
  }

  .mobile-header-mini.mobile-mini-ml-ll #Top_bar a.responsive-menu-toggle {
    left: 10px;
    right: 0;
  }

  .mobile-header-mini.mobile-mini-ml-ll #Top_bar .logo {
    margin-left: 54px;
  }

  .mobile-header-mini.mobile-mini-ml-ll #Top_bar .top_bar_right {
    right: 15px;
  }

  .mobile-header-mini.mobile-mini-ml-lc #Top_bar a.responsive-menu-toggle {
    left: 10px;
    right: 0;
  }

  .mobile-header-mini.mobile-mini-ml-lc #Top_bar .logo {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-header-mini.mobile-mini-ml-lc #Top_bar .top_bar_right {
    right: 15px;
  }

  .mobile-header-mini.mobile-mini-ml-lr #Top_bar a.responsive-menu-toggle {
    left: 10px;
    right: 0;
  }

  .mobile-header-mini.mobile-mini-ml-lr #Top_bar .logo {
    float: right;
    margin-left: 0;
    margin-right: 15px;
  }

  .mobile-header-mini.mobile-mini-ml-lr #Top_bar .top_bar_right {
    left: 49px;
    right: auto;
  }

  /* Header mobile | minimal | headers compatibility */
  .mobile-header-mini.header-plain #Top_bar .top_bar_right {
    margin-right: 5px;
  }

  .mobile-header-mini.header-plain #Top_bar a#header_cart {
    line-height: 60px !important;
    border: none;
    padding: 0 5px;
  }

  .mobile-header-mini.header-plain #Top_bar a#search_button {
    line-height: 60px !important;
    border: none;
    padding: 0 3px;
  }

  .mobile-header-mini.header-plain #Top_bar .wpml-languages {
    height: 60px !important;
    border: none;
    padding: 0 5px 0 10px;
    top: 0;
  }

  .mobile-header-mini.header-plain #Top_bar .wpml-languages a.active {
    line-height: 60px !important;
  }

  .mobile-header-mini.header-plain #Top_bar .wpml-languages:hover a.active {
    background: none;
  }

  .mobile-header-mini #Header_creative #Top_bar {
    width: 100%;
    margin: 0;
  }

  .mobile-header-mini #Header_creative #Top_bar #header_cart {
    top: 20px;
  }

  .mobile-header-mini #Header_creative #Top_bar #search_button {
    top: 19px;
  }

  .mobile-header-mini #Header_creative #Top_bar .wpml-languages {
    top: 13px;
  }

  .mobile-header-mini .overlay-menu-toggle {
    font-size: 22px;
    top: 8px;
    margin: 0 !important;
  }

  /* Header mobile | sticky */
  .mobile-sticky #Top_bar.is-sticky {
    position: fixed !important;
  }

  .mobile-sticky #Top_bar.is-sticky #logo {
    margin-top: 0;
    margin-bottom: 0;
    height: 60px !important;
    line-height: 60px !important;
  }

  .mobile-sticky #Top_bar.is-sticky a.responsive-menu-toggle {
    top: 30px !important;
  }

  .mobile-sticky #Top_bar.is-sticky .top_bar_right {
    display: none;
  }

  .mobile-sticky #Top_bar #menu {
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mobile-header-mini.mobile-sticky #Top_bar .top_bar_right {
    display: block;
  }

  /* Header mobile | transparent */
  .mobile-tr-header #Action_bar, .mobile-tr-header #Top_bar, .mobile-tr-header #Top_bar .top_bar_right {
    background: none !important;
  }

  .mobile-tr-header #Top_bar {
    position: absolute;
    top: 50px;
  }

  .mobile-tr-header.ab-hide #Top_bar {
    top: 0;
  }

  .mobile-tr-header #Action_bar {
    position: absolute;
  }

  .mobile-tr-header #Action_bar .contact_details li, .mobile-tr-header #Action_bar .social li a, .mobile-tr-header #Top_bar .top_bar_right a {
    color: rgba(255, 255, 255, 0.3);
  }

  .mobile-tr-header #Action_bar .social li a:hover, .mobile-tr-header #Top_bar .top_bar_right a:hover {
    color: #fff !important;
  }

  .mobile-tr-header #Top_bar .wpml-languages a.active, .mobile-tr-header #Top_bar .wpml-languages ul.wpml-lang-dropdown {
    background: none;
  }

  .mobile-tr-header.header-creative.layout-full-width #Wrapper {
    padding-top: 0;
  }

  /* Header mobile | transparent | plain */
  .mobile-tr-header.header-plain #Top_bar, .mobile-tr-header.header-plain #Top_bar .top_bar_right_wrapper > * {
    border: none !important;
    background: none !important;
  }

  /* Header mobile | transparent | creative */
  .mobile-tr-header #Header_creative {
    background: none !important;
    position: absolute;
  }

  /* Subheader */
  body:not(.template-slider):not(.header-simple) #Header {
    min-height: 350px;
    background-position: center 202px;
  }

  #Subheader .title {
    width: 100%;
  }

  #Subheader ul.breadcrumbs {
    display: none;
  }
}

/*# sourceMappingURL=general.css.map */
